<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.swtbot.forms.finder.test.FormViewPart"
            id="org.eclipse.swtbot.forms.finder.test.view1"
            name="FormsView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.eclipse.swtbot.forms.finder.test.view1"
               minimized="false"
               relationship="top"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
